.contact-form p {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.contact-logo {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add some space below the image */
}

/* Style for the main contact container */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

/* Style for the contact info section */
.contact-info {
    text-align: left; /* Align text to the left */
    flex: 1; /* Take up remaining space */
    margin-right: 50px; /* Add some space between sections */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust width as needed */
}
/* Style for the contact form section */
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Style for the form labels */
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for the form inputs and textarea */
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the category dropdown */
.contact-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* Style for the submit button */
.contact-form #submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto; /* Center horizontally */
    display: block; /* Ensure block-level behavior */
}


.contact-form #submitButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.contact-form #submitButton:hover {
    background-color: #45a049;
}

/* Style for the error message */
.contact-form #errorMessage {
    margin-top: 10px;
    color: red;
}

/* Style for the character count */
.contact-form #charCount {
    margin-top: 10px;
    font-size: 14px;
}

.error-message {
    color: red;
    margin-bottom: 10px; 
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-info, .contact-form {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
