dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

dialog[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px 20px;
}

dialog button{
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.218);
    margin-top: 20px;
}

dialog > .button-group{
    display: flex;
    width: 80%;
    justify-content: space-around;
}