.carousel {
    position: relative;
    width: 100%; 
    max-width: 700px; 
    height: 300px; 
    overflow: hidden;
    margin: 20px auto; 
}

button{
    margin-top: 0;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease; 
}

.carousel-items img {
    width: 100%;
    height: 100%;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: black; 
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

html,body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    background-color: #121212;
    color: #f1ebeb; 
    text-shadow: 1px 1px 2px #ffffff33; 
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 20px;
    background-color: transparent; 
    perspective: 1000px;
    border: 3px solid green; 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.8s;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card:hover .card-front {
    transform: rotateY(-180deg);
}

.product-card:hover .card-back {
    transform: rotateY(0deg);
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-name, .product-price {
    margin: 10px 0;
    color: #f1ebeb; 
    padding: 10px;
}

@media screen and (max-width: 576px) {
    .carousel {
        max-width: 500px;
    }
    .product-card {
        width: calc(100% - 20px); /* Adjust the width for even smaller screens */
    }
}
