.carousel {
    position: relative;
    width: 100%; 
    max-width: 700px; 
    height: 300px; 
    overflow: hidden;
    margin: 20px auto; 
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease; 
}

.carousel-items img {
    width: 100%;
    height: 100%;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: black; 
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

html,body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position:relative;
    background-color: #fff; 
    color: #fff; 
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #fff; 
    padding: 10px;
    margin: 10px;
    width: calc(30% - 20px); 
    display: inline-block;
    text-align: center; 
    background-color: lightblue;
}

.product-image {
    max-width: 100%; 
    height: auto; 
}

@media screen and (max-width: 576px) {
    .carousel {
        max-width: 500px;
    }
}
