.carousel {
    position: relative;
    width: 100%; 
    max-width: 700px; 
    height: 300px; 
    overflow: hidden;
    margin: 20px auto; 
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease; 
}

.carousel-items img {
    width: 100%;
    height: 100%;
}


.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(30% - 20px); 
    display: inline-block;
    text-align: center; /* Center align the content */
}

.product-image {
    max-width: 100%; /* Ensure images fit within their containers */
    height: auto; /* Maintain aspect ratio */
}


@media screen and (max-width: 576px) {
    .carousel {
        max-width: 500px;
    }
}