:root {
    /* Dark/Mixed - 100: For body background color
    Dark/Mixed - 200: For cards background color
    Dark/Mixed - 300: For chips buttons, dropdowns background color
    Dark/Mixed - 400: For sidebars, navbar background color
    Dark/Mixed - 500: For modal, dialogs background color
    Dark/Mixed - 600: For on background texts color */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    --color-font: #f1ebeb;
    --color-font-shadow: #ffffff33;

    --color-primary: #3586ff;
    --color-warning: #ffc107;
    --color-danger:#dc3545;
    --color-success: #04bc1c;
    --color-warning-shadow: #ffc10733;
    --color-danger-shadow:#dc354533;
    --color-success-shadow: #04bc1c33;
}

html, body{
    background-color: var(--color-surface-100);
    color: var(--color-font);
}

input, select, textarea{
    border: 0.5px solid var(--color-font-shadow);
    padding: 5px;
    background-color: var(--color-surface-100);
    color: var(--color-font);
}

textarea:focus, input:focus {
    outline: none;
    border: none;
    background-color: var(--color-surface-100);
    color: var(--color-font);
}

button {
    background: var(--color-primary);
    color: var(--color-font);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px var(--color-font-shadow);
    margin-top: 20px;
}

button[secondary]{
    color: var(--color-primary);
    background: var(--color-font);
    box-shadow: 0px 0px 10px 0px var(--color-font-shadow);
}

button[transparent]{
    background: transparent !important;
}

button[no-shadow]{
    box-shadow: none;
}

button[primary]{
    background: var(--color-primary);
    color: var(--color-font);
    box-shadow: 0px 0px 10px 0px var(--color-font-shadow);
}

button[danger]{
    background-color: var(--color-danger) !important;
    color: var(--color-font) !important;
}

button[success]{
    background-color: var(--color-success) !important;
    color: var(--color-font) !important;
}

button[warning]{
    background-color: var(--color-warning) !important;
    color: var(--color-font) !important;
}

[danger-hover]:hover{
    background-color: var(--color-danger) !important;
    color: var(--color-font) !important;
    box-shadow: 0px 0px 10px 0px var(--color-danger-shadow);
}

[success-hover]:hover{
    background-color: var(--color-success)!important;
    color: var(--color-font) !important;
    box-shadow: 0px 0px 10px 0px var(--color-success-shadow);
}

button[warning]{
    background-color: var(--color-warning) !important;
    color: var(--color-font) !important;
    box-shadow: 0px 0px 10px 0px var(--color-warning-shadow);
}

.errorText{
    line-height: 100%;
    color: var(--color-danger);
    font-size:x-small;
    margin: 0;
}

.text-center {
    text-align: center !important;
}

.m-0 {
    margin: 0;
}

.page-margin{
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 300px;
}
