
/* ------------Universal--------------- */
button {
    background-color: #99CCFF; 
    color: #202020; 
    font-weight: bold;
    padding: 12px 30px; 
    cursor: pointer; 
    border-radius: 10px; 
}
button:hover {
    background-color: #00cccc; 
}



